# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Conda
conda-meta/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar
docker-compose.override.yml

# Data (optional)
data/